{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">Fastest CBT App!!</h1>
  <p class="lead">Get your students tested with this CBT Web App made with Django (server side) and AJAX (client side).</p>
  <hr class="my-4">
  <p>Evaluation of answers are done on the client side which lessen the load on the server and improve its speed!.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/test" role="button">Take A Test</a>
  </p>
</div>
{% endblock %}


